@font-face {
    font-family: JosefinRegular;
    src: url(../fonts/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: JosefinItalic;
    src: url(../fonts/JosefinSans-Italic.ttf);
}

@keyframes breath {
    0%   { background-size: 100% auto; }
    50% { background-size: 140% auto; }
    100% { background-size: 100% auto; }
  }
   html {
      scroll-behavior: smooth;
      font-family: "JosefinRegular";
  } 

 header {
    background-color: rgba(0, 0, 0, 0.73);
    position: absolute;
    top: 0;
    width: 100%;
} 

 .primary_styling {
    font-size: 4em;
    text-transform: uppercase;
    color: #F0E9DF;
    text-align: center;

}

.welcome_wrapper {
    background-image: url(../images/DSC_3607.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

  
 .welcome_wrapper {
   
    display: flex;
    justify-content: space-around;
    height: 50em;
    align-items: center;
    flex-direction: column;
}

.home_logo {
    margin-top: 7em;
}

.cta_button_primary {
    font-size: 30px;
    background-color: #C2653A;
    color: #F0E9DF;
    text-decoration: none;
    border: none;
    padding: 0.4em 0.7em;
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.cta_button_primary:hover {
    background-color: #7e4125;
}

.welcome-info {
     background-color: #000;
     z-index: 14;
     position: relative;
}

.welcome-info p {
    font-size: 23px;
    padding: 1em;
    color: #F0E9DF;
    
}

.paragraph_wrapper {
    max-width: 90%;
    padding: 1.1em;
    margin: auto;
}

.cta_buttons {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

#hidden {
    visibility: hidden;
}

.booking_wrapper {
    text-align: center;
}

.booking_wrapper p {
    color: #F0E9DF;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
} 

 .hamburger {
    display: none;
    margin-right: 1em;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #F0E9DF;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 7em;
} 


.nav-link{
    font-size: 20px;
    font-weight: 400;
    color: #F0E9DF;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.164);
    padding: 1em;
    text-decoration: none;
    
}

.nav-link:hover{
    color:#C2653A;
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.mobile_navbar-logo {
    display: none;
}

ul.nav-menu {
    margin: auto;
    margin-top: 1em;
} 

.highlights {
    background-image: url(../images/DSC_3493.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-top: -5px;
}

.heading {
    padding: 1em;
}

.extras_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3em;
}

.extras {
    display: flex;
    align-items: center;
    padding: 1em;
}

.icon_styling {
    height: 3em;
}

.icon_description {
    font-size: 1.3em;
    color: #F0E9DF;
    padding: 1em;
}

.cta {
    width: 76%;
    margin: auto;
    padding-bottom: 5em;
}

#availability {
    display: flex;
    font-size: 25px;
    margin: auto;
    align-items: center;
}

#availability_img {
    margin-right: 15px;
}

.suroundings {
    background-color: #7A7254
}

.surround_content-wrapper {
    background-color: #A39B7C;
}

.suroundings h1 {
    font-size: 3em;
    padding: 0.5em; 
}

.surroundings_content {
    display: flex;
}

.paragraph_style {
    color: #F0E9DF;
    font-size: 2.1em;
    padding: 2.2em;
    margin: auto;
    background-image: url(../images/11_frosted.jpg);
}

.right_image {
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#mobile {
    display: none;
}

#desktop {
    display: none;
}

.progress{
    height:10px;
    /* background: #000; */
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;

  }
  .progress__highlight{
    transition: width 0.15s linear;
    background:#C2653A;
    height:100%;
    width:0%;
  }

  /* footer styling mobile first v2.0 */

footer {
    background-color: #474333;
    justify-content: space-around;
    align-items: center;
    
}

.social_media {
    text-align: center;
}

.social_media p {
    font-size: 20px;
    color: #F0E9DF;
    padding: 0.5em;
}

.social_media-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
    flex-direction: row;
    margin: auto;
    width: 90%;
}

.social_media-icons a {
    padding: 0.5em;
}

.contact_info {
    padding: 1em;
}

.contact_info img {
    padding: 0.3em;
}

.location, .phone, .mail {
    justify-content: center;
    padding: 0.5em;
    display: flex;
    align-items: center;
}

.location p, .phone p, .mail p {
    font-size: 20px;
    color: #F0E9DF;
    text-decoration: none;
}

/* footer style end */



* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 33px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
    
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slideshow-container {

    width: 100%;
    padding: 1em;
    padding-top: 3em;
    background-color: #7a7254;
    width: 100%;
    padding: 2em;
    padding-top: 3em;
    margin-bottom: 3em;
    margin-top: 3em;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.copyright {
    font-family: "JosefinItalic";
    text-align: center;
    background-color: #c2653a;
    color: #F0E9DF;
}



/* desktop breakpoint */

@media only screen and (min-width: 1024px) {

.navigation_wrapper {
    padding: 1em;
}

ul.nav-menu {
    width: 54em;
} 
.welcome_wrapper {
    animation: breath 45s linear infinite;
}

.highlights {
    animation: breath 45s linear infinite;
}

#desktop {
    display: flex;
}

#mobile {
    display: none;
}

.paragraph_wrapper {
    max-width: 60%;
}


.extras_wrapper {
    width: 70%;
    margin: auto;
}

/* footer styling v2.0 desktop */

footer p {
    font-size: 20px;
}

.social_media {
    display: flex;
    width: 65%;
    align-items: center;
    justify-content: space-between;
}

.social_media-icons {
    min-width: 30%;
    max-width: 35%;
    margin: 0;
    padding: 1em;
}

.social_media-icons img:hover {
    transform: scale(80%);
    transition: 0.5s ease;
}


.social_media p {
    padding: 1em;
    font-size: 20px;
    color: #F0E9DF
}

.map {
    width: 80%;
    margin: auto;
}

.contact {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.contact_info {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: auto;
}

.contact_info p {
    padding: 0.3em;
}

.location:hover, .phone:hover, .mail:hover {
    transform: scale(90%);
    transition: 0.5s ease;
}

/* footer style end */

.cta {
    width: 16%;
}

/* tablet breakpoint */

}

 @media only screen and (max-width: 1024px) {

        .mobile_navbar-logo {
            display: block;
        }
    #nav_logo {
        width: 4em;
        margin-right: 5em;
    }
    
    .navigation_wrapper {
        padding: 1em;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .nav-menu {
            position: fixed;
            left: -100%;
            top: 4.1rem;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.932);
            width: 100%;
            border-radius: 10px;
            text-align: center;
            transition: 0.3s;
            margin-right: 7em;
            box-shadow:
                0 10px 27px rgba(0, 0, 0, 0.05);
        }
    
        .nav-menu.active {
            left: 0;
            box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
            margin-top: 1em;
            
        }
    
        .nav-item {
            margin: 2.5rem 0;
        }
    
        .hamburger {
            display: block;
            cursor: pointer;
        }
    
        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }
    
        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
    
        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        } 
    .primary_styling {
        font-size: 28px !important;
    }
    
    .home_logo {
        width: 83%;
    }
    
    
    
    #desktop_booking, #hidden {
        display: none;
    }
    
    .cta_buttons {
        width: 46%;
    }
    
    .welcome_wrapper {
        background-image: url(../images/DSC_3607.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .welcome-info p, .paragraph_style p {
        font-size: 19px;
        padding: 0.5em;
    }
    
    .paragraph_style {
        font-size: 19px !important;
        padding: 2.5em !important;
    }
    
    
    .extras_wrapper {
        flex-direction: column;
    }
    
    .surroundings_content {
        flex-direction: column;
        align-items: center;
    }
    
    #desktop {
        display: none;
    }
    
    #mobile {
        display: block;
    }
    
    .right_image {
        width: 93%;
        margin: auto;
        margin-bottom: 3em;
    }
    
    .icon_description {
        padding: 0.5em;
    }
    
    .icon_styling {
        height: 33px;
    }
        
        .contact_info {
            padding: 1em;
        }
    
        footer {
            align-items: center;
        }

      
        

        .contact {
            justify-content: space-around;
        }
    
        #booking_cta {
            margin: auto;
        }
    
        #availability {
            margin: auto;
        }
    
    }

    @media only screen and (max-width:1024px) {
        #map {
            position: relative;
            left: 10%;
        }
    }


    /* mobile navigation menu breakpoint */

@media only screen and (max-width: 700px) {

    .mobile_navbar-logo {
        display: block;
    }
#nav_logo {
    width: 4em;
    margin-right: 5em;
}

.navigation_wrapper {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.primary_styling {
    font-size: 28px !important;
}

.home_logo {
    width: 83%;
}



#desktop_booking, #hidden {
    display: none;
}

.cta_buttons {
    width: 46%;
}

.welcome_wrapper {
    background-image: url(../images/DSC_3607_mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.welcome-info p, .paragraph_style p {
    font-size: 19px;
    padding: 0.5em;
}

.paragraph_style {
    font-size: 19px !important;
    padding: 2.5em !important;
}


.extras_wrapper {
    flex-direction: column;
}

.surroundings_content {
    flex-direction: column;
    align-items: center;
}

#desktop {
    display: none;
}

#mobile {
    display: block;
}

.right_image {
    width: 93%;
    margin: auto;
    margin-bottom: 3em;
}

.icon_description {
    padding: 0.5em;
}

.icon_styling {
    height: 33px;
}
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4.1rem;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.932);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        margin-right: 7em;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
        box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
        margin-top: 1em;
        
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #map {
        width: 90%;
        position: relative;
        left: 5%;
    }
.copyright {
    font-size: 14px;
}

    #booking_cta {
        margin: auto;
    }

    #availability {
        margin: auto;
    }

}